.wrapper {
  border-radius: 9999px;
  background-color: var(--avatar-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  overflow: hidden;
}

.icon {
  width: 60%;
  height: 60%;
}