# AWS Cognito User Pool ID (found in Cognito console)
COGNITO_USER_POOL_ID=

# AWS Cognito App Client ID (found in App clients section)
COGNITO_CLIENT_ID=

# AWS Cognito App Client Secret (found in App clients section)
COGNITO_CLIENT_SECRET=

# AWS region where your Cognito User Pool is deployed e.g. us-east-2
AWS_REGION=

# Port where the auth service will run e.g. 3000
PORT=